/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&display=swap');

/* Configurações GLOBAIS */
* {
    box-sizing: border-box;
    font-family: 'Noto Serif Oriya', 'arial', 'comic sans';
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    color: white;
    height: 100vh;
    width: 100vw;
}

.logocontainer {
    width: 20%;
}

.logocontainer img {
    border-radius: 50%;
}

.bibliotecacontainer {
    width: 50%;
}

.cabecalho {
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    max-height: 10%;
}

.centralizaV {
    display: flex;
    align-items: center;
}

.centralizaH {
    display: flex;
    justify-content: center;
}

.logo {
   height: 100%;
   width: 25%;
}

.login-signin {
    display: flex;
    gap: 5px;
    width: 30%;
}

.main {
    max-height: 80%;
}

.Catalogo {
    display: flex;
}

.livroscontainer {
    width: 50%;
}

.livros {
    width: 25%;
    height: 20%;
}